[Unit]
Description=A simple HTTP 1.1 server that redirects clients to HTTPS URLs
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/http2sd
DynamicUser=yes
LockPersonality=yes
LimitNPROC=1

[Install]
WantedBy=multi-user.target
